<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{ include './common/linkcss.html' }}
  <link rel="stylesheet" href="/public/css/lightbox.css">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">

    <!-- 引入左边侧边栏 -->
    {{ include './common/header.html' }}

    <!-- 引入左边侧边栏 -->
    {{ include './common/side.html' }}


    <div class="layui-body">

      <!-- 内容主体区域 -->

      <div style="padding: 15px;">
        <h2>文章管理</h2>
        
        <table class="layui-hide" id="test" lay-filter="test"></table>
      </div>

      <!-- <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="show">查看内容</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script> -->

      <script type="text/html" id="leftContent">
        <div  style="display:flex;">
            <button type="button" id="add" style="margin-right:50px"  class="layui-btn layui-btn-normal">
                <i class="layui-icon">&#xe608;</i> 添加文章
            </button>

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                  <input type="text" name="title" id="title" required placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                  <select id="status" name="status" lay-verify="required">
                    <option value="">全部</option>
                    <option value="0">未发布</option>
                    <option value="1">已发布</option>
                    <option value="2">不通过</option>
                  </select>
                </div>
              </div>
         
          <button class="layui-btn" id="search">搜索</button>
        </div>
      </script>


    </div>

    <!-- 引入左边侧边栏 -->
    {{ include './common/footer.html' }}

  </div>
  {{ include './common/scriptjs.html' }}
  <script src="/public/js/lightbox-plus-jquery.min.js"></script>
  <script>
  
    //JavaScript代码区域
    layui.use(['element', 'table'], function () {
      var element = layui.element;
      var table = layui.table;

      let tableUI = table.render({
        elem: '#test',
        url: '/allarticle',
        cellMinWidth: 100,
        id:"testReload",
        toolbar: '#leftContent' //开启头部工具栏，并为其绑定左侧模板
          ,
        defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
          title: '提示',
          layEvent: 'LAYTABLE_TIPS',
          icon: 'layui-icon-tips'
        }],
        limit: 5,
        limits: [5, 10, 15, 20],
        request: {
          pageName: 'page' //页码的参数名称，默认：page
            ,
          limitName: 'limit' //每页数据量的参数名，默认：limit

        },
        where: {
          a: 2,
          b: 3
        },
        title: '文章数据',
        cols: [
          [{
            type: 'checkbox',
            fixed: 'left'
          }, {
            field: 'art_id',
            title: 'ID',
            width: 80,
            fixed: 'left',
            unresize: true,
            hide:true
          }, {
            field: 'title',
            title: '标题',
            width: 120,
            edit: 'text'
          }, {
            field: 'content',
            title: '内容',
            width: 120,
            hide:true
          }, {
            field: 'name',
            title: '所属分类',
            width: 100
          }, {
            field: 'author',
            title: '作者',
            width: 80,
            edit: 'text',
            sort: true
          }, {
            field: 'cover',
            title: '封面',
            width: 100,
            templet({cover}){
              let imgStr = `<a class="example-image-link" href="${cover}" data-lightbox="example-1" data-title="我帅木">
                        <img class="example-image" src="${cover}" alt="暂无图片" />
                    </a>`;
              return imgStr;
            }
          }, {
            field: 'status',
            title: '状态',
            width: 100,
            templet: (item) => {
              let statusMap = {
                "0": '<span class="layui-badge layui-bg-blue">未发布</span>',
                "1": "<span class='layui-badge layui-bg-green'>已发布(通过)</span>",
                "2": "<span class='layui-badge' style='background:red'>不通过</span>"
              }
              return statusMap[item.status]
            }
          }, {
            field: 'publish_date',
            title: '发布时间',
            sort: true,
            templet(item) {
              let {
                publish_date
              } = item;
              return util.date_format(publish_date)
            }
          }, {
            fixed: 'right',
            title: '操作',
            templet({status}){
              let temStr = `<a class="layui-btn layui-btn-xs" lay-event="show">查看内容</a>`;
              switch(status){
                case 0: // 未发布 
                  temStr += `<a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="verify">待审核</a>`
                  break;
                default:
                  break;
              }

               temStr += ` 
                  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>`
              return temStr;
            }
          }]
        ],
        page: true,
        parseData: function (res) {
            // 可以对返回的数据格式进行调整，修改符合table所需要的的格式
            return res;
          }
          // 如果后台接口返回的参数table参数不一致，可以在这里重新定义
          ,
        response: {},
        text: {
          none: '暂无相关数据' 
        }
      });


      //监听删除、编辑、审核、查看内容事件
      table.on('tool(test)', function (obj) {
        let {
          data,
          event
        } = obj;
        let {art_id,title,content} = data;
        switch (event) {
          case "del": // 删除
            del(art_id)
            break;
          case "edit": // 编辑
            edit(art_id)
            break;
          case "verify": // 待审核
            verify(art_id)
            break;
          case "show": // 待审核
            showContent(title,content)
            break;

        }



      });
      //弹框显示文章内容
      function showContent(title,content){
        layer.open({
            title:title,
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['1100px', '640px'], 
            content: "<div style='padding:10px'>" + content + "</div>"
          });
      }

      // 删除文章
      function del(art_id) {
            layer.confirm('确认删除', {
                btn: ['是的', '取消?'] 
            }, function () {
                 // 发送ajax请求
                $.ajax({
                    type:'post',
                    url:"/delArticle",
                    data:{art_id},
                    success({errcode,message}){ // 解构形参对象的参数
                        layer.closeAll();
                        if(errcode == 0){
                            tableUI.reload(); // 只是重载表格（局部刷新）
                            layer.msg(message)
                        }
                    }
                })
            });
      }

      // 跳转到文章编辑页面
      function edit(art_id){
        location.href = `/artedit?art_id=${art_id}`
      }

      // 审核文章
      function verify(art_id){
      layer.confirm('是否通过审核', {
          btn: ['通过','不通过'] 
        }, function(){
          updArtStatus(art_id,1)
        }, function(){
          updArtStatus(art_id,2)
         
        });
      }

      // 更新文章状态
      function updArtStatus(art_id,status){
        $.post('/updstatus',{art_id,status},({errcode,message})=>{
          if(errcode == 0){
            tableUI.reload();
          }
          layer.msg(message)
        },'json')
      }
      
      // 跳转到文章添加页面
      $("#add").on('click',()=>{
        location.href = '/addart'
      })

      //单击搜索进行表格筛选，让表格进行重载
      $('body').on('click','#search',function(){
			let title = $('#title').val();
			let status = $('#status').val();
			//重载
			table.reload('testReload', {
				page: {
				curr: 1 //第 1 页开始
				}
				,where: {
				title,status
				}
			});
			$('#title').val(title);
			$('#status').val(status);
        })
        
    });
  </script>
</body>

</html>